#!/bin/bash
COMMAND="cp -p /usr/local/task-management_src/task-management-back/build/libs/task-management.jar /usr/local/task-management/task-management-back/current/task-management.jar"
echo "${COMMAND}"
${COMMAND}